<header>
  <a href="/" class="logo">
    chinternet.lol
  </a>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <div id="search">
          <form action="/search" method="get">
            <input autocomplete="off" id="search-query" name="q" placeholder="Search" type="text" />
          </form>
        </div>
      </li>
    </ul>
  </section>
  <section id="search-results">
    <div class="row">
      <div class="large-12 columns">
        <h2>
          Search results
        </h2>
        <ul class="entries posts"></ul>
      </div>
    </div>
  </section>
  {% include mainmenu.html %}
  {% include tagline.html %}
  {% include newsletter.html %}
</header>
<hr />