<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script type="text/javascript" src="/assets/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/components/lunr.js/lunr.min.js"></script>
  <script type="text/javascript" src="/assets/components/mustache.js/mustache.min.js"></script>
  <script type="text/javascript" src="/assets/components/date.format/date.format.js"></script>
  <script type="text/javascript" src="/assets/components/urijs/src/URI.min.js"></script>
  <script type="text/javascript" src="/assets/components/jquery.lunr.search/jquery.lunr.search.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/twemoji/1.3.2/twemoji.min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>

  <style type="text/css">

    #field {
      position: relative;
      height: 300px;
      background-color: lightgreen;
    }
    #ball, #ball2 {
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
    }
    #ball { background: red; }
    #ball2 { background: blue; }

  </style>
</head>
