/* Colors

$green:     #09F224;
$black:     #000;
$grey:      #aaa;
$dark-grey: #222;
$yellow:    yellow;

*/

/* Fonts

$serif: 'Lora', serif;
$san-serif: 'Press Start 2P', cursive;

*/

html, body{
  height: 100%;
  min-height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lora', serif;
  text-align: center;
  background-color: #000;
  color: #aaa;
  text-shadow: 0 1px 0 #222;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover i {
  color: #09F224;
}
ul, li {
  margin: 0;
  padding: 0;
}
.advert {
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  background: #fff;
  color: #000;
  text-shadow: none;
  outline: 3px solid #09F224;
  font-weight: 700;
}
.advert img {
  display: inline-block;
  vertical-align: middle;
}
.chinternet {
  font-family: 'Press Start 2P', cursive;
  background: yellow;
  padding: 10px;
  display: inline;
  font-size: 12px;
}
a.chinternet-link {
  background: none;
  color: #000;
  padding: 0;
}
header, main, footer {
  max-width: 500px;
  margin: 0 auto;
}
header {
  margin: 40px auto;
}
.header__img {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin: 20px auto;
  border: 3px solid #09F224;
}
h1 {
  color: #09F224;
}
header img {
  width: 90px;
  height: 90px;
  display: inline-block;
}
main {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  outline: 2px dashed #09F224;
  border-radius: 3px;
}
.btn {
  background: #000;
  color: #09F224;
  padding: 8px 20px;
  margin: 10px;
  font-weight: 700;
  display: inline-block;
}
.btn:hover {
  background: #09F224;
  color: #fff;
}
section {
  text-shadow: none;
  color: #000;
}
table, tr, td {
  box-sizing: border-box;
}
table {
  width: 100%;
}
.pricing-table td {
  background: #f5f5f5;
  padding: 10px;
}
footer {
  margin: 40px auto;
}
ul.footer__social-icons {
  list-style-type: none;
  margin: 20px auto;
}
ul.footer__social-icons li {
  display: inline-block;
}
ul.footer__social-icons li a {
  padding: 5px;
}
