<footer>
  <hr style="width:70.0%; margin: 40px auto;" />
  <hr style="width:63.0%; margin: 40px auto;" />
  <hr style="width:56.0%; margin: 40px auto;" />
  <hr style="width:49.0%; margin: 40px auto;" />
  <hr style="width:42.0%; margin: 40px auto;" />
  <hr style="width:35.0%; margin: 40px auto;" />
  <hr style="width:28.0%; margin: 40px auto;" />
  <hr style="width:21.0%; margin: 40px auto;" />
  <hr style="width:14.0%; margin: 40px auto;" />
  <hr style="width:7.0%; margin: 40px auto;" />
  &copy; CHiN
</footer>