<header>
  <a href="http://uselesspress.org/" class="logo">
    <!-- <img src="/theme/images/logo3.png" alt="Useless Press"> -->
    /*** aLeXCHiN ***/
  </a>

  <nav id="menu">
    {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> |
    {% endif %}
    {% endfor %}
    <a href="http://twitter.com/alexpchin">TWITTER</a> | 
    <a href="http://github.com/alexpchin">GITHUB</a> 
  </nav>

  <p>high-quality internet things</p>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//uselesspress.us11.list-manage.com/subscribe/post?u=37332dac8fb4d08bd57d762d5&amp;id=d763377437" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <label for="mce-EMAIL">SUBSCRIBE TO OUR NEWSLETTER: </label>
          <input type="email" value="" placeholder="EMAIL ADDRESS" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_37332dac8fb4d08bd57d762d5_d763377437" tabindex="-1" value="">
        </div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <!-- <div>Follow us on <a href="http://twitter.com/theuselesspress">TWITTER</a></div> -->
</header>
<hr />