---
layout: default
og_type: article
---
| {% capture keywords %}{{ page.categories | join: ', ' }}, {{page.tags | join: ', '}}{% endcapture %}

h2
  | {{ page.title }}
p.meta
  | - {{ page.date | date_to_string }}
.post
  | {{ content }}