---
layout: page
title: The making of this site
change_frequency: weekly
description: "How I made this website."
---

p Currently this website is built with:

ul
  li Jekyll
  li Slim (could have used Haml but Slim is a bit faster on Ruby 2.1.1)
  li Zurb Foundation
  li Jekyll-asset-pipeline

p Yslow currently rates this site as a 95%.
p Pingdom currently rates this site as 91%.