@font-face {
  font-family: 'radikalregular';
  src: url('../fonts/radikal.eot');
  src: url('../fonts/radikal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/radikal.woff2') format('woff2'),
    url('../fonts/radikal.woff') format('woff'),
    url('../fonts/radikal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Fix fo have a transparent menu at the top of the page */
html {
  margin-top: -3.5rem;
}

body {
  font-family: 'radikalregular', Helvetica, Arial, sans-serif;
}

/* TRANSITIONS */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
