// I copied this version so that I could keep it clean
// @import "../components/foundation/scss/foundation/settings";

@import "settings";
@import "../components/foundation/scss/normalize";
@import "../components/foundation/scss/foundation";

body {
  h1, h2, h3, h4, h5, h6 {
    color:  #FFF;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 2px 3px 0 #b13518,7px 4px 0 rgba(0,0,0,0.15)
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    margin-bottom: 0.8rem;
  }

  a {
    color:  #FFF;
    text-decoration: underline;

    &:hover {
      color: #FFF;
    }
  }

  blockquote {
    background: #fff;
    padding: 20px;
    box-shadow: 8px 8px 0px #b13518;

    p {
      margin: 0;
    }
  }

  // ---------- Projects ---------- //
  img.project {
    border: 4px solid #fff;
  }
}

.header {
  background-color: #E45635;
  margin: 0 0 20px;

  a {
    text-decoration: none;
  }

  .top-bar {

    .name {
      min-width: 300px;

      span {
        text-transform: uppercase;
        font-weight: 800;
      }

      h1 a {
        padding: 0;
      }
    }

    .top-bar-section {
      ul {
        li {
          background: #E45635;
        }
      }
    }

  }
}

#search-results {
  display: none;
}

.footer {
  margin-top: 40px;
  padding: 40px 0;
}