// I copied this version so that I could keep it clean
// @import "../components/foundation/scss/foundation/settings";

@import "settings";
@import "../components/foundation/scss/normalize";
@import "../components/foundation/scss/foundation";

body {
  h1, h2, h3, h4, h5, h6 {
    color:  #FFF;
    font-weight: bold;
    font-weight: 800;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 50px;
  }

  a {
    color:  #FFF;
    text-decoration: underline;

    &:hover {
      color: #FFF;
    }
  }
}

.header {
  background-color: #E45635;
  margin: 0 0 20px;
}

.footer {
}