<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

    <!-- <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->

    <section class="newest-thing">
      <article>
        <h3 class="label red inline">Newest Thing:</h3>
        <h3>
            <a href="things/pckwck/">
              PCKWCK
            </a>
          </h3>
        <a href="things/pckwck/">
          <img src="http://uselesspress.org/images/pckwck.gif" alt="PCKWCK" />
        </a>
        <p class="blurb">
          <p>A serialized novel written in real time.</p>
        </p>
        <nav>
          <a href="http://uselesspress.org/things/pckwck/" rel="bookmark" title="Permalink to PCKWCK">Read About It</a>
          <br>
          <a href="http://www.pckwck.com">See It</a>
        </nav>
      </article>
    </section>

    <hr />

    <section class="next-thing">
      <h3 class="label blue inline next-thing-label">NEXT THING:</h3>
      <div class="next-thing-time"></div>
      <script src="/theme/js/countdown.js"></script>
      <script>
        CountDownTimer('11/12/2015 1:00 PM', 'next-thing-time')
      </script>
    </section>

    <hr />

    <section class="things">
      <h3 class="older-things"><span class="label green inline">Previous things:</span></h3>

      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/decapitated-animals-dataset/">
                Decapitated Animals Dataset
              </a>
            </h3>

          <a href="/things/decapitated-animals-dataset/">
            <img src="http://uselesspress.org/images/animals.jpg" alt="Decapitated Animals Dataset" />
          </a>
          <p class="blurb">An open call for projects utilizing New York City decapitated animals data.</p>
          <nav>
            <a href="http://uselesspress.org/things/decapitated-animals-dataset/" rel="bookmark" title="Permalink to Decapitated Animals Dataset">Read about it</a>
            <br>
            <a href="https://github.com/uselesspress/decapitated-animals-data">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/call-to-wait/">
                Call to Wait
              </a>
            </h3>

          <a href="/things/call-to-wait/">
            <img src="http://uselesspress.org/images/calltowait5.gif" alt="Call to Wait" />
          </a>
          <p class="blurb">A phone line that puts callers on hold for seven years.</p>
          <nav>
            <a href="http://uselesspress.org/things/call-to-wait/" rel="bookmark" title="Permalink to Call to Wait">Read about it</a>
            <br>
            <a href="http://calltowait.com">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/world-leader-tips/">
                World Leader Tips
              </a>
            </h3>

          <a href="/things/world-leader-tips/">
            <img src="http://uselesspress.org/images/worldleadertips2.gif" alt="World Leader Tips" />
          </a>
          <p class="blurb">A twitter bot that predicts the actions of world leaders and then sends them alternative recommendations.</p>
          <nav>
            <a href="http://uselesspress.org/things/world-leader-tips/" rel="bookmark" title="Permalink to World Leader Tips">Read about it</a>
            <br>
            <a href="http://twitter.com/worldleadertips">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/the-data-drive/">
                The Data Drive
              </a>
            </h3>

          <a href="/things/the-data-drive/">
            <img src="http://uselesspress.org/images/zuck2.jpg" alt="The Data Drive" />
          </a>
          <p class="blurb">Zuckerberg has absconded with all of our data. Join the data drive today.</p>
          <nav>
            <a href="http://uselesspress.org/things/the-data-drive/" rel="bookmark" title="Permalink to The Data Drive">Read about it</a>
            <br>
            <a href="http://thedatadrive.com">See it</a>
          </nav>
        </div>
      </article>
    </section>

    {% include footer.html %}
  </main>

</body>

</html>