<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <!--     {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %} -->

  <main>
    <header>
      <a href="http://uselesspress.org/" class="logo">
        <!-- <img src="/theme/images/logo3.png" alt="Useless Press"> -->
        aLeXCHiN
      </a>

      <nav id="menu">
        <a href="http://uselesspress.org/things/">Things</a> |
        <a href="http://uselesspress.org/news/">News</a> |
        <a href="http://uselesspress.org/about/">About</a> | <a href="http://twitter.com/theuselesspress">TWITTER</a>
      </nav>

      <p>high-quality internet things</p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//uselesspress.us11.list-manage.com/subscribe/post?u=37332dac8fb4d08bd57d762d5&amp;id=d763377437" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
              <label for="mce-EMAIL">SUBSCRIBE TO OUR NEWSLETTER: </label>
              <input type="email" value="" placeholder="EMAIL ADDRESS" name="EMAIL" class="required email" id="mce-EMAIL">
              <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_37332dac8fb4d08bd57d762d5_d763377437" tabindex="-1" value="">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
      <!-- <div>Follow us on <a href="http://twitter.com/theuselesspress">TWITTER</a></div> -->
    </header>
    <hr />

    <section class="newest-thing">
      <article>
        <h3 class="label red inline">Newest Thing:</h3>
        <h3>
            <a href="things/pckwck/">
              PCKWCK
            </a>
          </h3>
        <a href="things/pckwck/">
          <img src="http://uselesspress.org/images/pckwck.gif" alt="PCKWCK" />
        </a>
        <p class="blurb">
          <p>A serialized novel written in real time.</p>
        </p>
        <nav>
          <a href="http://uselesspress.org/things/pckwck/" rel="bookmark" title="Permalink to PCKWCK">Read About It</a>
          <br>
          <a href="http://www.pckwck.com">See It</a>
        </nav>
      </article>
    </section>

    <hr />

    <section class="next-thing">
      <h3 class="label blue inline next-thing-label">NEXT THING:</h3>
      <div class="next-thing-time"></div>
      <script src="/theme/js/countdown.js"></script>
      <script>
        CountDownTimer('11/12/2015 1:00 PM', 'next-thing-time')
      </script>
    </section>

    <hr />

    <section class="things">
      <h3 class="older-things"><span class="label green inline">Previous things:</span></h3>

      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/decapitated-animals-dataset/">
                Decapitated Animals Dataset
              </a>
            </h3>

          <a href="/things/decapitated-animals-dataset/">
            <img src="http://uselesspress.org/images/animals.jpg" alt="Decapitated Animals Dataset" />
          </a>
          <p class="blurb">An open call for projects utilizing New York City decapitated animals data.</p>
          <nav>
            <a href="http://uselesspress.org/things/decapitated-animals-dataset/" rel="bookmark" title="Permalink to Decapitated Animals Dataset">Read about it</a>
            <br>
            <a href="https://github.com/uselesspress/decapitated-animals-data">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/call-to-wait/">
                Call to Wait
              </a>
            </h3>

          <a href="/things/call-to-wait/">
            <img src="http://uselesspress.org/images/calltowait5.gif" alt="Call to Wait" />
          </a>
          <p class="blurb">A phone line that puts callers on hold for seven years.</p>
          <nav>
            <a href="http://uselesspress.org/things/call-to-wait/" rel="bookmark" title="Permalink to Call to Wait">Read about it</a>
            <br>
            <a href="http://calltowait.com">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/world-leader-tips/">
                World Leader Tips
              </a>
            </h3>

          <a href="/things/world-leader-tips/">
            <img src="http://uselesspress.org/images/worldleadertips2.gif" alt="World Leader Tips" />
          </a>
          <p class="blurb">A twitter bot that predicts the actions of world leaders and then sends them alternative recommendations.</p>
          <nav>
            <a href="http://uselesspress.org/things/world-leader-tips/" rel="bookmark" title="Permalink to World Leader Tips">Read about it</a>
            <br>
            <a href="http://twitter.com/worldleadertips">See it</a>
          </nav>
        </div>
      </article>
      <article>
        <div class="inner-article">
          <h3>
              <a href="/things/the-data-drive/">
                The Data Drive
              </a>
            </h3>

          <a href="/things/the-data-drive/">
            <img src="http://uselesspress.org/images/zuck2.jpg" alt="The Data Drive" />
          </a>
          <p class="blurb">Zuckerberg has absconded with all of our data. Join the data drive today.</p>
          <nav>
            <a href="http://uselesspress.org/things/the-data-drive/" rel="bookmark" title="Permalink to The Data Drive">Read about it</a>
            <br>
            <a href="http://thedatadrive.com">See it</a>
          </nav>
        </div>
      </article>
    </section>

    <hr style="width:70.0%; margin: 40px auto;" />
    <hr style="width:63.0%; margin: 40px auto;" />
    <hr style="width:56.0%; margin: 40px auto;" />
    <hr style="width:49.0%; margin: 40px auto;" />
    <hr style="width:42.0%; margin: 40px auto;" />
    <hr style="width:35.0%; margin: 40px auto;" />
    <hr style="width:28.0%; margin: 40px auto;" />
    <hr style="width:21.0%; margin: 40px auto;" />
    <hr style="width:14.0%; margin: 40px auto;" />
    <hr style="width:7.0%; margin: 40px auto;" />
  </main>

</body>

</html>